pyrogram
python-dotenv
tgcrypto
telegraph
python-decouple
py-tgcalls
sqlalchemy
psycopg2
redis
aiohttp
async-lru
async-timeout
asyncio
attrs
backports.functools-lru-cache
beautifulsoup4
bs4
certifi
chardet
chucknorris
google
google-search
googlesearch-python
greenlet
idna
joke-generator
lxml
multidict
nekobin
Pastebin
pyaes
PySocks
pyspeedtest
requests
soupsieve
speedtest-cli
typing-extensions
urllib3
yarl
carbonnow
